<div class='text__center w__100', style="height: 50.5px;"></div>

<table class= 'w__100 mt__0 mb__0'>
  <tr>
    <td class='text__center' style="width: 27.5%;"><td>

    <td class="user__details">
      <h2>PATIENT INFORMATION</h2>
      <hr />
      <table>
        <tr>
          <td class="colume__heading">NAME:</td>
          <td><%=@patient&.name&.humanize%></td>
        </tr>
        <tr>
          <td class="colume__heading">FATHER/HUSBAND</td>
          <td><%=@patient&.father_husband&.humanize%></td>
        </tr>
        <tr>
          <td class="colume__heading">AGE</td>
          <td><%=@patient&.age %> Years</td>
        </tr>
        <tr>
          <td class="colume__heading">PHONE</td>
          <td> <%= @patient&.phone_number %></td>
        </tr>
        <tr>
          <td class="colume__heading">ADDRESS</td>
          <td><%=@patient&.address%></td>
        </tr>
        <tr>
          <td class="colume__heading">DATE:</td>
          <td>20 Mar 2023 2:12 PM</td>
        </tr>
        <tr>
          <td class="colume__heading">USER:</td>
          <td> <%= @patient&.patient_procedures&.last&.user&.name&.humanize %></td>
        </tr>
      </table>
    </td>

    <td class="w__25 text__center">
      <table>
        <tr>
          <%= @patient&.qr_generate(procedure) %>
        </tr>
        <tr>
          <table class='text__end w__100'>
            <tr>
              <td><span class='colume__heading'>CASE NO: </span><%=@patient&.case_id%></td>
            </tr>
            <tr>
              <td><span class='colume__heading'>PATIENT NO: </span><%=@patient&.patient_id%></td>
            </tr>
          </table>
        </tr>
      </table>
    </td>
  </tr>
</table>
