<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="m-auto my-3">
    <%= image_tag ('logo'), width: 100, height: 100, class: '' %>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <li class="menu-item <%= 'active' if params[:controller] == "receptionist/dashboard" %>">
      <%= link_to receptionist_dashboard_index_path, class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      <% end %>
    </li>

    <li class="menu-item <%= 'active' if params[:controller] == "receptionist/patients" && params[:action] == 'new'%>">
      <%= link_to new_receptionist_patient_path, class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">New Patient</div>
      <% end %>
    </li>

    <li class="menu-item <%= 'active' if params[:controller] == "receptionist/patients" && params[:action] == 'search' %>">
      <%= link_to search_receptionist_patients_path, class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Search Patient</div>
      <% end %>
    </li>

    <li class="menu-item <%= 'active' if params[:controller] == "receptionist/referrers" %>">
      <%= link_to receptionist_referrers_path, class: "menu-link" do %>
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Referrers</div>
      <% end %>
    </li>
  </ul>
</aside>
