<head>
  <%= wicked_pdf_stylesheet_link_tag "admin_pdf" %>
</head>
<div class="main__pdf h__100">
  <%= render 'admin/patients/invoice_header' %>
  <hr/>
  <div class='test-list'>
    <table>
      <tr>
        <td class="pl-12 mb__0">
          <h2 class="test__heading">Abdominal & Pelvic Ultrasound</h2>
          <div class="mt__0">
            <table class="pl-0 w__40">
              <tr>
                <td class="w__auto text__end">
                  <span>Performed by: </span>
                </td>
                <td>
                  <strong class="">Dr.Mubushra Samreen</strong>
                </td>
              </tr>
              <tr class="">
                <td class="w__auto text__end">
                  <span>Referrer: </span>
                </td>
                <td class="">
                  <strong class="performed__and__referrer">Dr.Ruqaya. Iqra Hospital</strong>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td class="text__center w__30">
          <table class='w__100'>
            <tr>
              <td class='w__50'>
                <h4 class='w__auto'>REPORTED ON: </h4>
              </td>
              <td class='text__start w__auto'>
                <h4 class='w__100'><%= DateTime.now.strftime('%d %b %Y %l:%M %p') %></h4>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table class=''>
      <tr class='w__auto border'>
        <h3 class='report__tag m__auto'>REPORT:</h3>
      </tr>
    </table>
    <p class='centered-div w__80 m__auto'>
      <div class='fixed-width-paragraph'>
        LMP: 02-04-2022<br><br>
        Single alive intrauterine pregnancy with variable lie and presentation. Fetal cardiac activity and body<br>
        movements are present. Placenta is fundal posterior & right lateral, not encroaching the lower segment.<br>
        Amniotic fluid is adequate, AFI is 14 cm.<br><br>
        Fetal skull size is small with mild dilatation of ventricular chain. Lateral ventricles measure 10 – 11 mm each.<br>
        Third ventricle measures 5 mm and fourth ventricle measures 4 mm. Cortical thickness is reduced measures<br>
        7.5 mm, 7 mm and 7.6 mm on left side in frontal, parietal and occipital lobes and 5 mm, 6.5 mm and 7 mm on<br>
        right side in frontal, parietal and occipital lobes. Brain surface is smooth with loss of convolutional markings.<br>
        Follow up is suggested to exclude  Pachygyria with Lissencephaly? Cerebellum is markedly echogenic, may<br>
        be dysplastic.<br>
        Subdural space is prominent containing clear fluid present in frontoparietal regions. Fetal calvarium,<br>
        craniocervical junction, spine and posterior elements are intact. Fetal muscle tone is normal.<br>
        Fetal heart is four chambered. No evidence of duodenal atresia. Fetal stomach bubble, kidneys and urinary<br>
        bladder are normal. No cleft lip. Heart is four chambered. Axial skeleton appears normal. No fetal anterior<br>
        abdominal wall defect seen. Umbilical cord is three vessels.  (5-7% anomalies cannot be detected on<br>
        ultrasound)<br><br>
        <strong>Fetal Biometry:</strong><br>
        BPD         :   5.2 cm corresponding to 22 weeks 1 day.<br>
        FL            :   4.7 cm corresponding to 24 weeks.<br>
        FAC         :   19.0 cm corresponding to 24 weeks 3 days.<br>
        HC           :   20.7 cm corresponding to 22 weeks 2 days.<br>
        EFBW     :   652 grams. (±10%)<br>
        Gestational age based on measurements is 24+ weeks (according to FAC & FL).<br><br>
        Cervical length measures 4.1 cm with closed internal os.<br><br>
        <strong>Conclusion:</strong><br>
        Single alive intrauterine pregnancy of  24+ weeks (according to FAC & FL).<br>
      </div>
    </p>
    <div style="position: fixed; top: 35%; left: 25%; transform: translate(-50%, -50%); opacity: 0.2; width: 50%; height: 100%;">
      <%=  image_tag wicked_pdf_asset_base64('logo'), style: "width: 100%; margin: auto 0; object-fit: cover;"%>
    </div>
  </div>

  <div class="invoice__footer w__100">
    <hr />
    <%= render 'admin/patients/invoice_footer', class: 'bb' %>
  </div>
</div>
