<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>ABOUT</span> US</h2>
            </div>

        </div>
        <div class="row mb-5">
            <div class="col-sm-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
                <div class="heading">WHO WE ARE?</div>
                <p class="text-justify">
                    The Lahore Diagnostics has been established with a vision to provide proficient diagnostic services for perfect interpretation of disease. We believe that spot on diagnosis is the first and foremost step in treatment of any ailment and we are keenly dedicated to provide this amenity to our every patient and referring medical professional. The second and the strongest segment of our ideology is to create a trusted and faithful liaison between our radiologists and referring doctor, to develop an interface for the sake of patients care and well being. To fulfill our dream we are providing the best services by the finest members of team.
                </p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-sm-12 text-center wow fadeInDown" data-wow-offset="50" data-wow-delay="0.9s">
                <div class="heading">OUR IDEOLOGIES</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
                <div class="subheading"><%= image_tag("healthcare.png") %> HEALTHCARE</div>
                <p>
                    We focus on our service design and delivery that can provide maximum ease to the patients. Patient care is at the center of all our services.
                </p>
            </div>
            <div class="col-sm-6 mb-3 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.9s">
                <div class="subheading"><%= image_tag("comfort.png") %> COMFORT</div>
                <p>
                    We have launched our home sampling service to enhance the convenience of our patients by providing best services at their homes.
                </p>
            </div>
            <div class="col-sm-6 mb-3 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
                <div class="subheading"><%= image_tag("quality.png") %> QUALITY</div>
                <p>
                    Our current facility and teams are top notch and are consistently trained and evaluated on new trends and knowledge to avoid any reporting errors.
                </p>
            </div>
            <div class="col-sm-6 mb-3 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.9s">
                <div class="subheading"><%= image_tag("effort.png") %> EFFORT</div>
                <p>
                    Our initiatives promote community health education across Pakistan to develop a community that prioritize health.
                </p>
            </div>
            <div class="col-sm-6 mb-3 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
                <div class="subheading"><%= image_tag("reliability.png") %> RELIABILITY</div>
                <p>
                    Our robust and integrated systems help in increasing consistency and reliability of our services.
                </p>
            </div>
            <div class="col-sm-6 mb-3 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.9s">
                <div class="subheading"><%= image_tag("communication.png") %> COMMUNICATION</div>
                <p>
                    Our initiatives promote community health education across Pakistan to develop a community that prioritize health.
                </p>
            </div>
        </div>
    </div>
</section>