<header>
    <div class="container">
        <div class="row bold align-items-center">
            <div class="col-md-6 col-lg-4 col-sm-12">
                <i class="fa fa-phone"></i><span> Phone</span>0319-4355590
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12">
                <i class="fa fa-envelope-o"></i><span> Email</span><a href="#">ldcokara@gmail.com</a>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12">
                <ul class="social-icon">
                    <li>Meet us on</li>
                    <li><a href="https://www.facebook.com/ldcokara?mibextid=LQQJ4d" target="_blank" class="fa fa-facebook"></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="nav-wrapper">
  <nav class="navbar navbar-expand-lg navbar-light p-0 <%= 'templatemo-nav' unless request.path == '/view_report' %>" role="navigation">
    <div class="container">
      <%= link_to root_url do %>
        <%= image_tag("LDC-logo.png", width: 50, height: 50) %>
      <% end %>
      <a class="navbar-brand" href="<%= root_url %>">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <%= link_to 'Home', "#{root_path}#home", class: 'nav-link' %>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="<%= root_url %>#about">ABOUT</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="<%= root_url %>#team">DOCTORS</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="<%= root_url %>#service">SERVICE</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="<%= root_url %>#reports">VIEW REPORT</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="<%= root_url %>#contact">CONTACT</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link external" href="<%= user_session_url %>">PORTAL</a>
              </li>
          </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-default templatemo-nav" role="navigation" style="display:none">
      <div class="container">
          <div class="navbar-header">
              <%= link_to root_url do %>
                <%= image_tag("LDC-logo.png", width: 50, height: 50) %>
              <% end %>
          </div>
          <div class="navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="<%= root_url %>#top" class="spa-nav">HOME</a></li>
                  <li><a href="<%= root_url %>#about" class="spa-nav">ABOUT</a></li>
                  <li><a href="<%= root_url %>#team" class="spa-nav">DOCTORS</a></li>
                  <li><a href="<%= root_url %>#service" class="spa-nav">SERVICE</a></li>
                  <li><a href="<%= root_url %>#reports" class="spa-nav">VIEW REPORT</a></li>
                  <li><a href="<%= root_url %>#contact">CONTACT</a></li>
              </ul>
          </div>
      </div>
  </nav>
</div>
