<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">OUR <span>SERVICES</span></h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-6 wow fadeIn mb-4 d-flex align-items-stretch" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="card bg-transparent border-white">
                    <%= image_tag("ultrasound.jpg",  class: "card-img-top") %>
                    <div class="card-body">
                        <h5 class="card-title text-center">3D ULTRASOUND IMAGING</h5>
                        <p class="card-text">
                            Ultrasound imaging is a technique which uses sound waves of higher frequency to detect any pathology in the body systems, without posing any dangers of radiation on human body.  We are proud to be equipped with futuristic technology of international companies like GE and Toshiba.
                            <br />
                            TLD offers the best services in terms of diagnostic investigations like:
                            <ul class="mb-0">
                                <li>Ultrasound Abdomen</li>
                                <li>Ultrasound Abdomen and Pelvis</li>
                                <li>Ultrasound Kidney Ureter and Bladder</li>
                                <li>Ultrasound Obs and Gynae</li>
                                <li>Ultrasound Cranium</li>
                                <li>Ultrasound Orbit</li>
                                <li>Ultrasound Neck</li>
                                <li>Ultrasound Parotid Gland</li>
                                <li>Ultrasound Thyroid</li>
                                <li>Ultrasound Chest</li>
                                <li>Ultrasound Breast</li>
                                <li>Ultrasound Inguinoscrotum</li>
                                <li>Ultrasound Hip and Knee</li>
                                <li>Ultrasound Perineum</li>
                                <li>Ultrasound Perianal Fistulas</li>
                                <li>Ultrasound of Soft Tissues</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-6 wow fadeIn mb-4 d-flex align-items-stretch" data-wow-offset="50" data-wow-delay="0.9s">
                <div class="card bg-transparent border-white">
                    <%= image_tag("color_doppler_us.jpg",  class: "card-img-top") %>
                    <div class="card-body">
                        <h5 class="card-title text-center">DIGITAL COLOR DOPPLER ULTRASOUND</h5>
                        <p class="card-text">
                            It is an imaging technique which allows to visualize the blood flow in vessels by mapping the velocity and direction of blood. This plays pivotal role in determining the vast vareity of vascular pathologies. It includes Doppler Studies Of:
                        </p>
                        <ul class="mb-0">
                            <li>Hepatoportal System</li>
                            <li>Mesenteric Artery</li>
                            <li>Aorta</li>
                            <li>Arterio Venous Fistula Mapping</li>
                            <li>Renal Artery</li>
                            <li>Carotid Arteries</li>
                            <li>Upper Limb Arterial and Venous Doppler</li>
                            <li>Lower Limb Arterial and Venous Doppler</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 wow fadeIn mb-4 d-flex align-items-stretch" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="card bg-transparent border-white">
                    <%= image_tag("xray.jpg",  class: "card-img-top") %>
                    <div class="card-body">
                        <h5 class="card-title text-center">DIGITAL X-RAY</h5>
                        <p class="card-text">
                            The invent of X-Rays proved to be the modality in the diagnostic radiology which revolutionized the course of this speciality. It is initial investigation of choice for most of the diseases and is being performed as painless and swift assessment for early diagnosis of an ailment.
                            <br />
                            We are providing:
                        </p>
                        <ul class="mb-0">
                            <li>X-Ray Abdomen</li>
                            <li>X-Ray Axial and Appendicular Skeleton</li>
                            <li>X-Ray Skull and Paranasal Sinuses</li>
                            <li>X-Ray Chest</li>
                            <li>Contrast Procedures including Barium Studies, Contrast assessment of Vesicovaginal and Perianal Fistulas , Sinograms, Urethrograms and Hysterosalpingoraphy</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 wow fadeIn mb-4 d-flex align-items-stretch" data-wow-offset="50" data-wow-delay="0.9s">
                <div class="card bg-transparent border-white">
                    <%= image_tag("fnac.jpg",  class: "card-img-top") %>
                    <div class="card-body">
                        <h5 class="card-title text-center">ULTRASOUND GUIDED FNAC & BIOPSIES</h5>
                        <p class="card-text">The definitive diagnosis of most of the diseases require histological evidence of the body tissue of the suspicious area. It not only gives the conclusive details of the disease but also guides the further management plan. To preclude the patient from surgery, ultrasound guided biopsies and fine needle aspirations are the best alternatives. In this approach, a minor prick of needle serves the purpose as of large incision. At The Lahore Diagnostics , following are the procedures that we are performing:</p>
                        <ul class="mb-0">
                            <li>Parotid Gland FNAC</li>
                            <li>Thyroid Gland FNAC</li>
                            <li>Breast FNAC</li>
                            <li>Lymph Node FNAC</li>
                            <li>Mesenteric Node FNAC</li>
                            <li>Bone Biopsy</li>
                            <li>Liver Biopsy</li>
                            <li>Prostate Biopsy</li>
                            <li>Breast Biopsy</li>
                            <li>Uterine and Ovarian Masses Biopsy</li>
                            <li>Chest and Mediastinal Masses Biopsy</li>
                            <li>Bowel Pathologies Biopsy</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 wow fadeIn mb-4 d-flex align-items-stretch" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="card bg-transparent border-white">
                    <%= image_tag("ultrasound.jpg",  class: "card-img-top") %>
                    <div class="card-body">
                        <h5 class="card-title text-center">MOTHER & CHILD HEALTH IMAGING</h5>
                        <p class="card-text">We believe that care should be given to both mother and child from earliest stages of conception. So we provide antenatal obstetrical scans to evaluate the well being of both mother and baby. It helps to detect any possible abnormality of the process and can intimate the concerned gynaecologist to make precautionary arrangements before delievery. In this regard we are providing:</p>
                        <ul class="mb-0">
                            <li>Obstetrical Scan</li>
                            <li>Twin/Triplet Scan</li>
                            <li>Nuchal Translucency and Thickness assessment</li>
                            <li>Amniocentesis</li>
                            <li>Choriocentesis/ Chorionic Villus Sampling</li>
                            <li>Anomaly Scan</li>
                            <li>Umblical artey and Fetal MCA Doppler</li>
                            <li>Biophysical Profile</li>
                            <li>Uterine artery Doppler</li>
                            <li>Follicular Tracking</li>
                            <li>Transvaginal Scan for Pelvic Visceras</li>
                            <li>Transvaginal Scan For Early Fetal Evaluation</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 wow fadeIn mb-4 d-flex align-items-stretch" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="card bg-transparent border-white">
                    <%= image_tag("breast_imaging.jpg",  class: "card-img-top") %>
                    <div class="card-body">
                        <h5 class="card-title text-center">BREAST IMAGING AND DIAGNOSIS</h5>
                        <p class="card-text">The Lahore Diagnostics offers complete assessment of breast related problems under one roof. Under the concerned supervision of female consultant radiologist, we perform breast ultrasound, screening mammograms, diagnostic mammograms, breast ductography, breast FNACs and breast biopsies.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 wow fadeIn mb-4 d-flex align-items-stretch" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="card bg-transparent border-white">
                    <%= image_tag("mri.jpg",  class: "card-img-top") %>
                    <div class="card-body">
                        <h5 class="card-title text-center">MRI & CT REPORTING</h5>
                        <p class="card-text">Magnetic Resonance Imaging and Computed Tomography are the cross sectional imaging performed by machines and the reports are interpreted by evaluating the films. We are offering the most accurate and comprehensive reporting of both CT and MRI by our proficient radiologists.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 wow fadeIn mb-4 d-flex align-items-stretch" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="card bg-transparent border-white">
                    <%= image_tag("echo.jpg",  class: "card-img-top") %>
                    <div class="card-body">
                        <h5 class="card-title text-center">ECOCARDIOGRAPHY</h5>
                        <p class="card-text">It is an investigation which involves using of ultrasound waves from hand held probe to analyse the movement of heart. It provides perfect picture of heart’s function and its pumping action. The Lahore Diagnostics offers this service by the hands of best cardiologist to evaluate the condition of patient’s heart and to pick up any dysfunction.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 wow fadeIn mb-4 d-flex align-items-stretch" data-wow-offset="50" data-wow-delay="0.6s">
                <div class="card bg-transparent border-white">
                    <%= image_tag("radio-contrast.jpg",  class: "card-img-top") %>
                    <div class="card-body">
                        <h5 class="card-title text-center">RADIOGRAPHIC CONTRAST STUDIES</h5>
                        <p class="card-text">
                            This is technique of medical imaging that uses X-Rays to visualise the internal organs. It is used to look for the movement of body part by a contrast agent (X-Ray dye) through the body to be seen in detail.
                            The Lahore Diagnostics is performing the following procedures:
                        </p>
                        <ul class="mb-0">
                            <li>Barium Swallow</li>
                            <li>Barium Meal and Follow Through</li>
                            <li>Distal Loopogram</li>
                            <li>Intravenous Urogram</li>
                            <li>MCUG</li>
                            <li>Retrograde Urethrogram</li>
                            <li>Cystogram</li>
                            <li>Fistulogram</li>
                            <li>Sinogram</li>
                            <li>Hysterosalpingography</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>