<!DOCTYPE html>
<html>
  <head>
    <title>LahoreDiagnosticCenter--Receptionist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "receptionist", media: 'all' %>
    <%= javascript_pack_tag 'receptionist', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
      <%= render 'receptionist/partials/sidebar' %>
      
      <div class="layout-page">
        <%= render 'receptionist/partials/header' %>
          <div class="content-wrapper">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
