<!DOCTYPE html>
<html>
  <head>
    <title>Receptionist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin", media: 'all' %>
    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.2/css/boxicons.min.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
  </head>

  <body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
      <%= render 'receptionist/partials/sidebar' %>
      
      <div class="layout-page">
        <%= render 'receptionist/partials/header' %>
          <div class="content-wrapper">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
